<%- include("partials/header"); -%>
<section class = "about" id = "about">
    <div class = "container">
      <div class = "about-content">
        <div>
          <img src = "images/about.jpg" alt = "">
        </div>
        <div class = "about-text">
          <div class = "title">
            <h2>Kush Aggarwal</h2>
            
          </div>
          <p>This blog Website is designed to let the users read new and create informative blogs. </p>
          <p>You can create the blog yourself on multiple topics and be a part of our small and lovely community</p>
        </div>
      </div>
    </div>
  </section>
<%- include("partials/footer"); -%>
