<%- include("partials/header"); -%>
<section class = "about" id = "about">
    <div class = "container">
      <div class = "about-content">
        <div>
          <img src = "images/contact.jpg" alt = "">
        </div>
        <div class = "about-text">
          <div class = "title">
            <h2>Contact Details</h2>
            
          </div>
          <p>Mobile no.- +91 70156XXX30 </p>
          <p>Email id- kushish21@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
<%- include("partials/footer"); -%>